.demo .box {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  border-radius: 5px;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
  -webkit-transition: all .2s ease .1s;
  transition: all .2s ease .1s;
}
